services:
  nephelios:
    build: .
    restart: always
    container_name: nephelios
    env_file:
      - .env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - prometheus_data:/app/prometheus
      - nephelios_data:/app/config/prometheus
      - registry_data:/var/lib/nephelios/registry
      - grafana_data:/var/lib/nephelios/grafana
      - grafana_provisioning:/app/config/grafana
      - grafana_dashboard:/app/config/dashboards
    ports:
      - "3030:3030"
    networks:
      - nephelios_overlay

networks:
  nephelios_overlay:
    driver: overlay
    name: nephelios_overlay
    attachable: true


volumes:
  grafana_data:
    name: grafana_data

  grafana_provisioning:
    name: grafana_provisioning

  grafana_dashboard:
    name: grafana_dashboard

  prometheus_data:
    name: prometheus_data


  registry_data:
    name: registry_data


  nephelios_data:
    name: nephelios_data
