version: '3.9'

networks:
  traefik-global-proxy:
    name: "traefik-global-proxy"

services:
  traefik:
    image: traefik:v2.10
    container_name: traefik
    command:
      - --configFile=/etc/traefik/traefik.toml
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/etc/traefik/traefik.toml
    deploy:
      labels:
        - "traefik.http.services.traefik.loadbalancer.server.port=8080"
    networks:
      - traefik-global-proxy
      
  
