name: Nephelios CI Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Validate Cargo.toml version
        run: |
          FILE_VERSION=$(grep -E '^\s*version = ' Cargo.toml | cut -d '"' -f2)
          if [ "$FILE_VERSION" != "$VERSION" ]; then
            echo "❌ Cargo.toml version ($FILE_VERSION) does not match tag version ($VERSION)"
            exit 1
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container # Utilisation du bon driver pour gérer le cache

      - name: Dockerhub login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_NEPHELIOS_USER }}
          password: ${{ secrets.DOCKER_NEPHELIOS_TOKEN }}

      - name: Build Docker image
        id: build-image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: |
            zuhowks/nephelios:${{ env.VERSION }}
            zuhowks/nephelios:latest
          cache-from: type=gha
          github-token: ${{ secrets.TOKEN_GITHUB }}

      - name: Build documentation
        run: |
          cargo doc --no-deps --document-private-items

      - name: Create redirect index.html
        run: |
          echo '<meta http-equiv="refresh" content="0; url=nephelios/index.html">' > target/doc/index.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
          force_orphan: true
