name: Rust CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: write # Allow push to repository contents

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, 1.60.0, 1.59.0] # Add specific Rust versions if needed.

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }} # Use the rust version defined in the matrix.

      - name: Install dependencies
        run: |
          rustup component add clippy
          rustup component add rustfmt

      - name: Run tests
        run: |
          cargo test --verbose

      - name: Build documentation
        run: |
          cargo doc --no-deps --document-private-items

      - name: Deploy documentation to GitHub Pages
        if: success()
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git checkout --orphan gh-pages
          git reset --hard
          cp -r target/doc/* ./
          git add .
          git commit -m "Update documentation"
          git push --force "https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git" gh-pages

          # Clean up, remove the gh-pages branch
          git checkout main
